__pycache__
.vscode
.ipynb_checkpoints
iris/output/pu_gauss/10/
iris/output/pu_gauss/20/
iris/output/pu_gauss/30/
iris/output/pu_gauss/40/
iris/output/pu_lm/10/
iris/output/pu_lm/20/
iris/output/pu_lm/30/
iris/output/pu_lm/40/
